{
    "env": {
        "es6": true,
        "node": true,
        "mocha": true
    },
    "parserOptions": {
        "ecmaFeatures": {
            "arrowFunctions": true,
            "forOf": true,
            "defaultParams": true,
            "destructuring": true,
            "objectLiteralShorthandProperties": true,
            "restParams": true,
            "spread": true,
            "modules": true
        },
    },
    "globals": {
        "document": true,
        "this": true,
        "window": true,
        "$": true
    },
    "extends": [
        "eslint:recommended",
        "airbnb"
    ],
    "rules": {
        "no-case-declarations": "warn",
        "no-console": "off",
        "no-debugger": "warn",
        "no-empty": "warn",
        "no-extra-boolean-cast": "warn",
        "no-extra-semi": "warn",
        "no-mixed-spaces-and-tabs": "warn",
        "no-redeclare": "warn",
        "no-regex-spaces": "warn",
        "no-self-assign": "warn",
        "no-sparse-arrays": "warn",
        "no-unreachable": "warn",
        "no-var": "error",
        "require-yield": "off",
        "array-bracket-spacing": "warn",
        "array-callback-return": "error",
        "arrow-spacing": "warn",
        "block-scoped-var": "error",
        "block-spacing": "warn",
        "brace-style": ["error", "1tbs", {
            "allowSingleLine": true
        }],
        "comma-dangle": ["warn", "always-multiline"],
        "comma-spacing": "warn",
        "comma-style": "warn",
        "computed-property-spacing": "warn",
        "consistent-return": "error",
        "consistent-this": ["warn", "that"],
        "curly": "warn",
        "default-case": "warn",
        "dot-notation": "warn",
        "eqeqeq": "warn",
        "eol-last": "warn",
        "guard-for-in": "error",
        "handle-callback-err": "error",
        "indent": ["warn", 4, {
            "SwitchCase": 1
        }],
        "key-spacing": "warn",
        "keyword-spacing": "warn",
        "linebreak-style": "warn",
        "new-parens": "warn",
        "no-array-constructor": "error",
        "no-caller": "error",
        "no-catch-shadow": "error",
        "no-confusing-arrow": "warn",
        "no-constant-condition": "warn",
        "no-div-regex": "warn",
        "no-eq-null": "error",
        "no-eval": "error",
        "no-extend-native": "error",
        "no-extra-bind": "warn",
        "no-extra-label": "error",
        "no-floating-decimal": "warn",
        "no-implicit-globals": "off",
        "no-implied-eval": "error",
        "no-invalid-this": "error",
        "no-iterator": "error",
        "no-labels": "error",
        "no-label-var": "error",
        "no-loop-func": "error",
        "no-lone-blocks": "error",
        "no-lonely-if": "warn",
        "no-native-reassign": "error",
        "no-mixed-operators": ["warn", {
            "groups": [
                ["&&", "||"]
            ]
        }],
        "no-mixed-requires": "error",
        "no-multi-spaces": "warn",
        "no-multi-str": "warn",
        "no-multiple-empty-lines": ["warn", {
            "max": 1
        }],
        "no-new-object": "warn",
        "no-new-require": "error",
        "no-new-wrappers": "warn",
        "no-octal-escape": "error",
        "no-param-reassign": "error",
        "no-path-concat": "error",
        "no-proto": "error",
        "no-return-assign": "error",
        "no-script-url": "error",
        "no-sequences": "error",
        "no-self-compare": "error",
        "no-shadow": "error",
        "no-shadow-restricted-names": "error",
        "no-spaced-func": "warn",
        "no-throw-literal": "warn",
        "no-trailing-spaces": "warn",
        "no-undef-init": "warn",
        "no-unneeded-ternary": "warn",
        "no-unused-expressions": "error",
        "no-unused-vars": [
            "warn",
            {
                "vars": "all",
                "args": "none"
            }
        ],
        "no-use-before-define": ["error", "nofunc"],
        "no-useless-call": "warn",
        "no-useless-escape": "warn",
        "no-useless-computed-key": "warn",
        "no-useless-concat": "warn",
        "no-useless-constructor": "warn",
        "no-var": "error",
        "no-void": "error",
        "no-whitespace-before-property": "warn",
        "no-with": "error",
        "object-curly-spacing": "warn",
        "one-var-declaration-per-line": "warn",
        "operator-linebreak": ["warn", "after"],
        "prefer-spread": "warn",
        "quotes": ["warn", "double"],
        "radix": "error",
        "semi": "warn",
        "semi-spacing": "warn",
        "space-before-blocks": "warn",
        "space-before-function-paren": ["warn", "never"],
        "space-in-parens": "warn",
        "space-infix-ops": "warn",
        "space-unary-ops": "warn",
        "spaced-comment": "warn",
        "quote-props": ["warn", "as-needed"],
        "yoda": "warn"
    }
}
